.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body {
    margin:0;padding:0;
}
ol,ul {
    list-style:none;
    padding:0;
}
* {
    text-decoration: none;
}
#canvasBoard {
    background: white;
}
#actions {
    position:fixed;
    left:0; top:0;

}
#actions svg {
    width:2em; height:2em;
    margin:15px;
    transition: all 0.3s;
    cursor: pointer;
}
#actions svg.active {
    fill:red;
    transform: scale(1.2);

}
.actions.x #eraser {
    display:inline-block;
}
.actions.x #pan {
    display:none;
}
.actions #pan {
    display:inline-block;
}
#pan,#eraser,#clear {
    font-size:20px;
}
.actions #eraser {
    display:none;
}
.wrapper {
    position:relative;
}
.wrapper #canvasBoard  {
    position:absolute;
}
.eraserCir {
    position:absolute;left:300px; top:300px;border:2px black solid;width:28px;height:28px; display: none;
}
.color {
    position:fixed;
    top:50px; left:11px;
}
.color li {
    cursor: pointer;
    width:25px; height:25px;
    border-radius: 50%;
    margin:10px 0;
    border:2px grey solid;
    transition: all 0.3s;
}
.color .red {
    background: red;
}
.color .black {
    background: black;
}
.color .blue {
    background: blue;
}
.color .yellow {
    background: yellow;
}
.color .pink {
    background: pink;
}
.color li.active{
    transform: scale(1.2);
}
